@import "variables";

body {
  font-family: $primaryFont;
}
header {
  background-color: $primaryGreen;
  //background-image: url(/assets/background.png);
  
}
nav {
  
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0px, 40px;
}
.nav-general {
  display: flex;
}
.nav-general,
.nav-contact,
.nav-resume {
  padding: 10px;
  li {
    list-style: none;
    text-decoration-line: none;
    margin: 10px 5px;
    a {
      text-decoration: none;
      color: $colourBlack;
    }
  }
}
h1,
h2 {
  text-align: center;
  font-weight: 200;
}
h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2rem;
  font-family: $primaryFont;
  font-weight: 200;
  text-align: center;
}

.main-subheading { 
  margin: 0px 100px;
  text-align: center;
  font-weight: 200;

}

.button-container {
  display: flex;

  justify-content: center;

  align-items: center;
}
.resume-button,
.project-button {
  margin: 10px;
}

.nav-resume,
.nav-contact {
  background-color: $secondaryGreen;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-resume li a,
.nav-contact li a {
  color: $greenishWhite;
}

.nav-home-button {
  border: solid 2px $greenishWhite;
  padding: 15px 24px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.nav-project-button {
  border: solid 2px $greenishWhite;
  padding: 15px 24px;
}
.nav-about-button {
  border: solid 2px $greenishWhite;
  padding: 15px 24px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px) rotate(-5deg);
  }
  20% {
    transform: translateX(-5px) rotate(5deg);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.nav-resume .nav-resume {
  transition: background-color 0.5s ease-in-out;
}
.nav-resume:hover {
  animation: shake 0.5s;
  background-color: $greenishWhite;
  li a {
    color: $secondaryGreen;
  }
}
.nav-contact:hover {
  animation: shake 0.5s;
  background-color: $greenishWhite;
  li a {
    color: $secondaryGreen;
  }
}

.button-container{ 
  padding: 20px ;
}

.resume-button, .project-button { 
  background-color: $colourBlack;
  font-family: $primaryFont;
  border-radius: 50px;
  padding: 15px 30px;
  border: 1px solid $greenishWhite;
  color:$greenishWhite ;
}
