@import "variables";

header {
  background-color: $greenishWhite;
  //background-image: url(/assets/background.png);
}
.hamburger-menu {
  display: none;
}
.drop-down-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $fadedGreen;
  width: 100%;
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    margin: 0 auto;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
}
.drop-down-nav li {
  margin: 0px 0px 10px 0px;
}

.drop-down-menu li :hover {
  color: white;
}
.close-button {
  margin-left: auto;
  padding: 10px 20px;
}
.close-button:hover {
  cursor: pointer;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px, 40px;
}
.nav-general {
  display: flex;
}
.nav-general a:hover {
  color: $secondaryGreen;
  transition: 0.5s ease-in;
}
.nav-general,
.nav-contact,
.nav-resume {
  padding: 10px;
  li {
    list-style: none;
    text-decoration-line: none;
    margin: 10px 5px;
    a {
      text-decoration: none;
      color: $colourBlack;
    }
  }
}
.nav-resume,
.nav-contact {
  background-color: $secondaryGreen;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-resume li a,
.nav-contact li a {
  color: $greenishWhite;
}

.nav-home-button {
  //border: solid 1px $colourBlack;
  padding: 15px 24px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.nav-project-button {
  //border: solid 1px $colourBlack;
  padding: 15px 24px;
}
.nav-about-button {
  //border: solid 1px $colourBlack;
  padding: 15px 24px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px) rotate(-5deg);
  }
  20% {
    transform: translateX(-5px) rotate(5deg);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.nav-resume .nav-resume {
  transition: background-color 0.5s ease-in-out;
}
.nav-resume:hover {
  animation: shake 0.5s;
  background-color: $greenishWhite;
  li a {
    color: $secondaryGreen;
  }
}
.nav-contact:hover {
  animation: shake 0.5s;
  background-color: $greenishWhite;
  li a {
    color: $secondaryGreen;
  }
}

.banner {
  padding-top: 150px;
  padding-bottom: 50px;
}
.theme-toggle {
  margin: 0px 20px;
  border-radius: 100px;
  border: none;
  color: $secondaryGreen;
  background-color: black;
  padding: 10px 20px;
}
.theme-toggle:hover{ 
  cursor: pointer;
  border: 2px solid $secondaryGreen;
}

h1,
h2 {
  text-align: left;
  font-weight: 200;
  padding: 0px 20px;
}
h1 {
  font-size: 2rem;
  font-family: $primaryFont;
  font-weight: 500;
  text-align: left;
  color: $secondaryGreen;
}
.circle-text {
  border-radius: 55%;
  border: 2px solid black;
  padding: 5px;
}
//make underline slightly titled//
.underline-text {
  text-decoration: underline;
  text-decoration-color: $secondaryGreen;
}
.main-subheading {
  margin: 0px;
  text-align: left;
  font-weight: 400;
}
.about-me-container {
  display: flex;

  .about-me-text-container {
    align-self: center;
  }
  .about-me-image-container {
    justify-content: center;

    border-radius: 300px;

    img {
      width: 300px;
      padding: 30px;
      border-radius: 300px;
      background-color: $fadedGreen;
    }
  }
}
.button-container {
  display: flex;

  justify-content: left;

  align-items: center;
}

.button-container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa-arrow-down-long {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.button-container .project-button {
  font-family: $primaryFont;
  border-radius: 50px;
  padding: 30px 0px;
  border: 1px solid $greenishWhite;
  color: $colourBlack;
  font-size: 20px;
}
.project-button {
  list-style: none;
}
.project-button a {
  color: $colourBlack;
  text-decoration: none;
}

@media (max-width: 1220px) {
  .nav-resume,
  .nav-contact {
    margin: 0px 30px;
  }
  .about-me-text-container {
    h1 {
      text-align: center;
    }
    .main-subheading {
      text-align: center;
    }
  }
  .about-me-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: center;
  }

  form {
    margin: 0px 50px;
  }
}

@media (max-width: 800px) {
  .nav-resume,
  .nav-contact {
    margin: 0px 20px;
  }
  .about-me-text-container {
    h1 {
      text-align: center;
    }
    .main-subheading {
      text-align: center;
    }
  }
  .about-me-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: center;
  }
}

@media (max-width: 630px) {
  .nav-general,
  .nav-contact,
  .nav-resume {
    display: none;
  }
  nav {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
  }
  .hamburger-menu {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: $greenishWhite;
  }
}
