@import "variables";

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.skills {
  background-color: $decorativeWhite;
}
.skills ul {
  margin: 0px;
}

.skills .subheading {
  text-align: center;
}
.skills .skill-icon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 40px;
}
.skills .skill-icon-list li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects h2,
.skills h2,
.contact h2 {
  padding: 100px 0px 30px 0px;
  font-weight: 500;
  margin: 0px;
  text-align: center;
}
.projects {
}

.projects .project-one,
.projects .project-two {
  display: flex;
  justify-content: center;

  padding: 40px 50px;
}
.arrow-icon {
  height: 70px;
}

.projects .image-container img {
  max-width: 500px;
  max-height: 350px;
  border-radius: 40px;
}
.projects .image-container,
.projects .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.projects .text-container {
  padding-left: 150px;
}
.projects .image-container {
  padding-right: 50px;
}
.contact {
  background-color: $greenishWhite;
}
.contact p {
  text-align: left;
  padding: 10px;
  padding-right: 430px;
  line-height: 23px;
}
.contact-details {
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style: none;

      a {
        text-decoration: none;
        margin: 10px 40px;
        color: $colourBlack;
      }
    }
  }
}
.contact h2 {
  font-weight: 500;
  text-align: center;
}
form {
  padding: 20px 0px 100px 0px;
  text-align: left;
  .form-title {
    padding: 50px 10px 10px 10px;
    text-align: left;
  }
  p {
    margin: 0px;
  }
  button {
    background-color: #1b1c1e;
    font-family: "Raleway", sans-serif;
    border-radius: 20px;
    padding: 15px 30px;
    border: 1px solid #50733f;
    color: #f5f5eb;
    margin: 10px 10px 10px 10px;
  }
}

button:hover {
  cursor: pointer;
}
button:active {
  transform: translateY(5px);
  
}

label {
  display: block;
  padding: 10px 0px;
}
input {
  width: 340px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
textarea {
  width: 700px;
  border: none;
  background-color: white;
  border-radius: 5px;
}
input:hover {
  outline: none;
  border: 1px solid #555;
}
input:focus {
  outline: none;
  border: 1px solid #555;
}
textarea:hover {
  outline: none;
  border: 1px solid #555;
}
textarea:focus {
  outline: none;
  border: 1px solid #555;
}
.name-email-container {
  display: flex;
  justify-content: start;
  width: 50%;
}
.name-field,
.email-field {
  margin: 0px 10px;
}
.message-field {
  margin: 10px 10px;
}

.project-title {
  font-size: 20px;
}
.project-heading {
  font-size: 18px;
}
.project-buttons button {
  background-color: $colourBlack;
  font-family: $primaryFont;
  border-radius: 50px;
  padding: 15px 30px;
  border: 1px solid $secondaryGreen;
  color: $greenishWhite;
  margin: 10px 10px 10px 0px;
}
.arrow-icon {
  margin: auto 0;
  background-color: $fadedGreen;
  border-radius: 50px;
}
.arrow-icon {
  position: absolute;
}

.firebase-img-icon {
  width: 36px;
}
.paired-programming-icon,
.project-management-icon {
  width: 64px;
}
