$primaryGreen: #d2d3c2;
$secondaryGreen: #50733f;
$greenishWhite: #f5f5eb;
$fadedGreen: #b1c0a0;
$decorativeWhite: #eceddd;
$colourBlack: #1b1c1e;
$primaryFont: "Raleway", sans-serif; 
$secondaryFont: "Cinzel", serif;
