html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  background-color: #f5f5eb;
}

.banner {
  padding-top: 150px;
  padding-bottom: 50px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px, 40px;
}

.nav-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-general,
.nav-contact,
.nav-resume {
  padding: 10px;
}
.nav-general li,
.nav-contact li,
.nav-resume li {
  list-style: none;
  text-decoration-line: none;
  margin: 10px 5px;
}
.nav-general li a,
.nav-contact li a,
.nav-resume li a {
  text-decoration: none;
  color: #1b1c1e;
}

h1,
h2 {
  text-align: left;
  font-weight: 200;
  padding: 0px 20px;
}

h1 {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-align: left;
  color: #50733f;
}

.circle-text {
  border-radius: 55%;
  border: 2px solid black;
  padding: 5px;
}

.underline-text {
  text-decoration: underline;
  text-decoration-color: #50733f;
}

.main-subheading {
  margin: 0px;
  text-align: left;
  font-weight: 200;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-resume,
.nav-contact {
  background-color: #50733f;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-resume li a,
.nav-contact li a {
  color: #f5f5eb;
}

.nav-home-button {
  padding: 15px 24px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.nav-project-button {
  padding: 15px 24px;
}

.nav-about-button {
  padding: 15px 24px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-5px) rotate(-5deg);
            transform: translateX(-5px) rotate(-5deg);
  }
  20% {
    -webkit-transform: translateX(-5px) rotate(5deg);
            transform: translateX(-5px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-5px) rotate(-5deg);
            transform: translateX(-5px) rotate(-5deg);
  }
  20% {
    -webkit-transform: translateX(-5px) rotate(5deg);
            transform: translateX(-5px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-resume .nav-resume {
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.nav-resume:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  background-color: #f5f5eb;
}
.nav-resume:hover li a {
  color: #50733f;
}

.nav-contact:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  background-color: #f5f5eb;
}
.nav-contact:hover li a {
  color: #50733f;
}

.button-container {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-arrow-down-long {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
.button-container .project-button {
  font-family: "Raleway", sans-serif;
  border-radius: 50px;
  padding: 30px 0px;
  border: 1px solid #f5f5eb;
  color: #1b1c1e;
  font-size: 20px;
}

.project-button {
  list-style: none;
}

.project-button a {
  color: #1b1c1e;
  text-decoration: none;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-me-container .about-me-text-container {
  -ms-flex-item-align: center;
      align-self: center;
}
.about-me-container .about-me-image-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 300px;
}
.about-me-container .about-me-image-container img {
  width: 300px;
  padding: 30px;
  border-radius: 300px;
  background-color: #b1c0a0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.skills {
  background-color: #eceddd;
}

.skills ul {
  margin: 0px;
}

.skills .subheading {
  text-align: center;
}

.skills .skill-icon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.skills .skill-icon-list li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects h2,
.skills h2,
.contact h2 {
  padding: 100px 0px 30px 0px;
  font-weight: 500;
  margin: 0px;
  text-align: center;
}

.projects .project-one,
.projects .project-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 50px;
}

.arrow-icon {
  height: 70px;
}

.projects .image-container img {
  max-width: 500px;
  max-height: 350px;
  border-radius: 40px;
}

.projects .image-container,
.projects .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.projects .text-container {
  padding-left: 150px;
}

.projects .image-container {
  padding-right: 50px;
}

.contact {
  background-color: #f5f5eb;
}

.contact p {
  text-align: left;
  padding: 10px;
  padding-right: 430px;
  line-height: 23px;
}

.contact-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-details ul li {
  list-style: none;
}
.contact-details ul li a {
  text-decoration: none;
  margin: 10px 40px;
  color: #1b1c1e;
}

.contact h2 {
  font-weight: 500;
  text-align: center;
}

form {
  padding: 20px 0px 100px 0px;
  text-align: left;
}
form .form-title {
  padding: 50px 10px 10px 10px;
  text-align: left;
}
form p {
  margin: 0px;
}
form button {
  background-color: #1b1c1e;
  font-family: "Raleway", sans-serif;
  border-radius: 20px;
  padding: 15px 30px;
  border: 1px solid #50733f;
  color: #f5f5eb;
  margin: 10px 10px 10px 10px;
}

button:hover {
  cursor: pointer;
}

button:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

label {
  display: block;
  padding: 10px 0px;
}

input {
  width: 340px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

textarea {
  width: 700px;
  border: none;
  background-color: white;
  border-radius: 5px;
}

input:hover {
  outline: none;
  border: 1px solid #555;
}

input:focus {
  outline: none;
  border: 1px solid #555;
}

textarea:hover {
  outline: none;
  border: 1px solid #555;
}

textarea:focus {
  outline: none;
  border: 1px solid #555;
}

.name-email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 50%;
}

.name-field,
.email-field {
  margin: 0px 10px;
}

.message-field {
  margin: 10px 10px;
}

.project-title {
  font-size: 20px;
}

.project-heading {
  font-size: 18px;
}

.project-buttons button {
  background-color: #1b1c1e;
  font-family: "Raleway", sans-serif;
  border-radius: 50px;
  padding: 15px 30px;
  border: 1px solid #50733f;
  color: #f5f5eb;
  margin: 10px 10px 10px 0px;
}

.arrow-icon {
  margin: auto 0;
  background-color: #b1c0a0;
  border-radius: 50px;
}

.arrow-icon {
  position: absolute;
}

.firebase-img-icon {
  width: 36px;
}

.paired-programming-icon,
.project-management-icon {
  width: 64px;
}