html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  background-color: #d2d3c2;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px, 40px;
}

.nav-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-general,
.nav-contact,
.nav-resume {
  padding: 10px;
}
.nav-general li,
.nav-contact li,
.nav-resume li {
  list-style: none;
  text-decoration-line: none;
  margin: 10px 5px;
}
.nav-general li a,
.nav-contact li a,
.nav-resume li a {
  text-decoration: none;
  color: #1b1c1e;
}

h1,
h2 {
  text-align: center;
  font-weight: 200;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-align: center;
}

.main-subheading {
  margin: 0px 100px;
  text-align: center;
  font-weight: 200;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-button,
.project-button {
  margin: 10px;
}

.nav-resume,
.nav-contact {
  background-color: #50733f;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-resume li a,
.nav-contact li a {
  color: #f5f5eb;
}

.nav-home-button {
  border: solid 2px #f5f5eb;
  padding: 15px 24px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.nav-project-button {
  border: solid 2px #f5f5eb;
  padding: 15px 24px;
}

.nav-about-button {
  border: solid 2px #f5f5eb;
  padding: 15px 24px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-5px) rotate(-5deg);
            transform: translateX(-5px) rotate(-5deg);
  }
  20% {
    -webkit-transform: translateX(-5px) rotate(5deg);
            transform: translateX(-5px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-5px) rotate(-5deg);
            transform: translateX(-5px) rotate(-5deg);
  }
  20% {
    -webkit-transform: translateX(-5px) rotate(5deg);
            transform: translateX(-5px) rotate(5deg);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-resume .nav-resume {
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.nav-resume:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  background-color: #f5f5eb;
}
.nav-resume:hover li a {
  color: #50733f;
}

.nav-contact:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  background-color: #f5f5eb;
}
.nav-contact:hover li a {
  color: #50733f;
}

.button-container {
  padding: 20px;
}

.resume-button, .project-button {
  background-color: #1b1c1e;
  font-family: "Raleway", sans-serif;
  border-radius: 50px;
  padding: 15px 30px;
  border: 1px solid #f5f5eb;
  color: #f5f5eb;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.skills .subheading {
  text-align: center;
}

.skills .text-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.skills .text-container ul li {
  list-style: none;
}

.projects .project-one,
.projects .project-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 50px;
}

.arrow-icon {
  height: 70px;
}

.projects .image-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px;
}

.projects .image-container,
.projects .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.projects {
  background-image: url();
}

.contact p {
  text-align: center;
  padding: 10px 60px;
}

.contact-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-details ul li {
  list-style: none;
}
.contact-details ul li a {
  text-decoration: none;
  margin: 10px 40px;
  color: #1b1c1e;
}

form {
  text-align: center;
}

.contact button {
  margin: 0 auto;
}

label {
  display: none;
}

textarea {
  width: 400px;
}

.name-email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name-field,
.email-field {
  margin: 0px 10px;
}

.message-field {
  margin: 10px 10px;
}

.project-title {
  font-size: 20px;
}

.project-heading {
  font-size: 18px;
}

.project-buttons button {
  background-color: #1b1c1e;
  font-family: "Raleway", sans-serif;
  border-radius: 50px;
  padding: 15px 30px;
  border: 1px solid #50733f;
  color: #f5f5eb;
  margin: 10px 10px 10px 0px;
}